<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"/>
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />
<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="http://code.jquery.com/jquery-2.2.4.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="/resources/demos/style.css" />

<title>Tambah Divisi dan Sub Divisi</title>
</head>
<body>
	<h2>Tambah Data Divisi</h2>
	<form action="#" th:action="@{/divisi/add}" th:object="${divisi}"
		method="post">
		<div class="form-group col-md-1">
			<label th:for="${divisi.divisiId}">Divisi ID</label> <input
				type="text" th:field="*{divisiId}" th:errorclass="fieldError" class="form-control" />
			<p th:if="${#fields.hasErrors('divisiId')}"
				th:errors="*{divisiId}">Divisi ID</p>
		</div>
		<div class="form-group col-md-3">
			<label th:for="${divisi.Nama}">Nama Divisi/Sub Divisi</label> <input type="text"
				th:field="*{Nama}" th:errorclass="fieldError" class="form-control"/>
			<p th:if="${#fields.hasErrors('Nama')}" th:errors="*{Nama}">Nama Divisi/Sub Divisi</p>
		</div>
		<div class="form-group col-md-1">
			<label th:for="${divisi.Level}">Level</label> <input type="text"
				th:field="*{Level}" th:errorclass="fieldError" class="form-control"/>
			<p th:if="${#fields.hasErrors('Level')}" th:errors="*{Level}">Level</p>
		</div>
		<div class="form-group col-md-1">
			<label th:for="${divisi.parentId}">Parent</label> <input type="text"
				th:field="*{parentId}" th:errorclass="fieldError" class="form-control"/>
			<p th:if="${#fields.hasErrors('parentId')}" th:errors="*{parentId}">Parent</p>
		</div>
		<div>
			<input type="submit" class="btn btn-primary" value="SIMPAN" />
		</div>

	</form>
	
</body>
</html>