<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"/>
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />
<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="http://code.jquery.com/jquery-2.2.4.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="/resources/demos/style.css" />
<title>Edit Divisi</title>
</head>
<body>
<h2>Ubah Divisi</h2>
	<form action="#" th:action="@{/divisi/edit}" th:object="${divisi}" method="post">
		<div class="form-group col-md-3">
			<label th:for="${divisi.nama}">Nama</label>
			<input type="text" th:field="*{nama}" th:errorclass="fieldError" class="form-control"/>
			<p th:if="${#fields.hasErrors('nama')}" th:errors="*{nama}">Nama</p>
		</div>
		<div class="form-group col-md-3">
						<label th:for="${divisi.subdivId}">Sub Divisi :</label> 
						<select th:field="*{subdivId.subdivId}" th:errorclass="fieldError"
							id="inputSubdiv" class="form-control">
							<div th:each="x : ${getSub1}">
								<option th:value="${x.subdivId}" th:text="${x.nama}"></option>
							</div>
						</select>
						<p th:if="${#fields.hasErrors('subdivId')}" th:errors="*{subdivId}">Sub Divisi</p>
					</div>
		<div>
		<input type="submit" formmethod="post" value="UBAH"/>
		<input type="hidden" th:field="*{divisiId}" th:value="*{divisiId}" />
		</div>
	</form>
</body>
</html>