<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1" />
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />
<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="http://code.jquery.com/jquery-2.2.4.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
<link rel="stylesheet" href="/resources/demos/style.css" />

<title>Presensi</title>
</head>
<body>
<h2> Silahkan Presensi </h2>
	<h3> Masukkan NRP Anda!!</h3>
	<form action="#" th:action="@{/presensi/add}" th:object="${presensi}"
		method="post">
		<div class="form-group col-md-3">
			<label th:for="${presensi.Nrp}">NRP</label> <input type="text"
				th:field="*{Nrp}" th:errorclass="fieldError" class="form-control"/>
			<p th:if="${#fields.hasErrors('Nrp')}" th:errors="*{Nrp}">NRP</p>
		</div>
		<div>
			<input type="submit" class="btn btn-primary" value="SIMPAN" />
		</div>

	</form>

</body>
</html>