<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"/>
<title>Ddetail Anggota</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>NRP</th>
				<th>Nama</th>
				<th>Alamat</th>
				<th>Tanggal Lahir</th>
				<th>Golongan</th>
				<th>Divisi</th>
				<th>Agama</th>
				<th>Jenis Kelamin</th>
				<th>Status</th>
				<th>Foto</th>
				<th>Tanggal Aktif</th>
				<th>Update Terakhir</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="anggota : ${objekAnggota}">
				<td th:text="${anggota.NRP}"> </td>
				<td th:text="${anggota.Nama}"> </td>
				<td th:text="${anggota.Alamat}"> </td>
				<td th:text="${anggota.TanggalLahir}"> </td>
				<td th:text="${anggota.AnggotaId}"> </td>
				<td th:text="${anggota.DivisiId}"> </td>
				<td th:text="${anggota.Agama}"> </td>
				<td th:text="${anggota.JenisKelamin}"> </td>
				<td th:text="${anggota.Status}"> </td>
				<td th:text="${anggota.Foto}"> </td>
				<td th:text="${anggota.Tanggal_Aktif}"> </td>
				<td th:text="${anggota.Update Terakhir}"> </td>
				</tr>
		</tbody>
	</table>
</body>
</html>