<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"/>
<title>Tambah Data Golongan</title>
</head>
<body>
	<form action="#" th:action="@{/golongan/add}" th:object="${golongan}" method="post">
		<div>
			<label th:for="${golongan.golonganId}">Golongan Id</label>
			<input type="text" th:field="*{golonganId}" th:errorclass="fieldError"/>
			<p th:if="${#fields.hasErrors('golonganId')}" th:errors="*{golonganId}">Golongan Id</p>
		</div>
		<div>
			<label th:for="${golongan.Nama}">Nama</label>
			<input type="text" th:field="*{Nama}" th:errorclass="fieldError"/>
			<p th:if="${#fields.hasErrors('Nama')}" th:errors="*{Nama}">Nama</p>
		</div>
		<div>
		<input type="submit" value="SIMPAN"/>
		</div>
	</form>
</body>
</html>